---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main class="w-screen h-screen grid content-center">
    <h1 class="text-4xl text-yellow-600 text-center uppercase">Working In Progress</h1>
  </main>
</BaseLayout>
