---
import "../global.css"
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer';
const {title} = Astro.props;
---

<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
    <body data-theme="night">
      <Navbar />
      <slot />
      <Footer />
    </body>

  <script>
    const toggleThemeBtn = document.getElementById('toggle-btn');
    let theme = localStorage.getItem('theme') || 'night';
    document.body.setAttribute('data-theme', theme);
    toggleThemeBtn.toggleAttribute(theme === 'corporate' ? 'checked' : undefined);
    const toggleTheme = document.getElementById('toggle-btn');
    toggleTheme.addEventListener('change',() => {
      theme = theme === "corporate" ? "night" : "corporate";
      toggleThemeBtn.toggleAttribute('checked');
      document.body.setAttribute('data-theme', theme);
      localStorage.setItem('theme', theme);
    });
  </script>
</html>
